@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

:root {
  --vd-gray: hsl(0, 0%, 17%);
  --d-gray: hsl(0, 0%, 59%);
  --input-fs: 18px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Rubik";
}

a {
  text-decoration: none;
  color: royalblue;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.head {
  width: 100%;
  text-align: center;
  background-image: url(./Images/pattern-bg.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  flex-grow: 1;
}

.head .search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 30px;
  margin-top: 30px;
}
.head .search p {
  color: #fff;
  margin: 0;
  font-size: 30px;
}
.head .search .search-field {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 45px;
  width: 100%;
}
.head .search .search-field input {
  padding: 15px 20px;
  border-top-left-radius: 14px;
  border-bottom-left-radius: 14px;
  border: none;
  font-family: inherit;
  font-size: var(--input-fs);
  flex-basis: 49%;
  outline: none;
}

.head .search .search-field button {
  padding: 19px 23px;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  border: none;
  background-color: var(--vd-gray);
  text-align: center;
  display: flex;
  align-items: center;
  cursor: pointer;
}

/* TRY GRID */
.head .location-info {
  background-color: #fff;
  position: absolute;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  left: 50%;
  z-index: 99999999999;
  transform: translateX(-50%);

  display: grid;
  grid-template-columns: repeat(4, 250px);
  grid-auto-rows: 85px;
  padding: 35px 15px;
  border-radius: 20px;
}

.head .location-info .section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 15px;
  padding: 0 20px;
}

.head .location-info .section p {
  margin: 0;
}

.head .location-info .section:not(:last-of-type) {
  border-right: 1px solid var(--d-gray);
}

.head .location-info .section p:first-of-type {
  color: var(--d-gray);
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
}

.head .location-info .section p:nth-of-type(2) {
  color: var(--vd-gray);
  text-align: left;
  font-weight: 500;
  font-size: 22px;
}

.map-container {
  width: 100vw;
  height: 400px;
}

.attribution {
  color: #fff;
  text-align: center;
}

.attribution a {
  color: var(--vd-gray);
  text-decoration: underline dotted;
}
